@import 'src/assets/sass/_variables.colors.scss';

footer {
  background-color: $light-pink-color;
  color: $dark-pink-color;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  margin-top: auto;
  height: 30px;
}